form, label {
  display: grid;
  justify-items: center;
}

label {
  position: relative;
}

label > span {
  margin: 10% 0 5% 0;
}

form > input[type="submit"] {
  margin: 5% 0 2% 0;
  width: 15%;
  min-width: 100px;
}

input:focus ~ span {
  opacity: 1;
}

input:invalid {
  border: 2px solid crimson;
}

.tooltip {
  position: absolute;
  bottom: 0;
  left: 100%;
  background-color: white;
  padding: 5px;
  width: 200px;
  color: black;
  opacity: 0;
}
