$responsiveOne: 0.107vmin;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  /*background: linear-gradient(to top, #6c9900, #a3c226);*/
  background-image: url("/images/bg.jpg");
  width: 100vw;

  /* dev */
  border-bottom: 1px solid transparent;
}

.t1 {
  margin: auto;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.images {
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  padding: 12px 15px 8px 15px;
  overflow: hidden;
  pointer-events: none;
}

.images > img:not(:first-child) {
  position: absolute;
  left: 15px;
}

.navigation {
  display: flex;
  flex-flow: column;

  background-image: url("/images/t2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 10px;
  width: 250px;
  padding-left: 15px;
  margin-left: -15px;
}

.navigation > a {
  font-family: Arial, serif;
  text-decoration: none;
  color: #fafdff;
  font-size: 18px;
  padding: 8px 0 6px 25px;
  border-top: solid #5f8c09 1px;
  text-shadow: 1px 1px 2px black;
  transition: background-color ease-in-out 200ms;
}

.navigation > a:hover {
  background-color: #3a5b01;
}

.navigation > a:first-child {
  margin-top: 12px;
}

.navigation > a:last-child {
  border-bottom: solid #5f8c09 1px;
}

.slider {
  position: relative;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  margin: 0 auto 130px auto;
  width: 958px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.07))
  drop-shadow(0 4px 8px rgba(0, 0, 0, 0.07)) drop-shadow(0 8px 16px rgba(0, 0, 0, 0.07))
  drop-shadow(0 16px 32px rgba(0, 0, 0, 0.07)) drop-shadow(0 32px 64px rgba(0, 0, 0, 0.07));
}

/*main {*/
/*    display: grid;*/
/*    grid: 100% / 70% 30%;*/
/*}*/

/*header {*/
/*    background: url("/images/bg.jpg")*/
/*}*/

/*.header-wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    max-height: 100%;*/
/*}*/

/*.t1 {*/
/*    max-height: 20%;*/
/*    max-width: 1005px;*/
/*}*/

/*.t2 {*/
/*    max-width: 1005px;*/
/*}*/
